.TopLeft {
  position: absolute;
  top: 2%;
  margin-left: -150px;
  left: 19.5%;

}

.TopMiddle {
  position: absolute;
  top:6%;
  margin-left:-150px;
  left:50%;

}

.TopRight {
  position: absolute;
  top: 2%;
  margin-left: -150px;
  left: 80.5%;
}

.BottomLeft {

}

.BottomMiddle {
  position: absolute;
  bottom:5%;
  margin-left:-150px;
  left:50%;
}

.BottomRight {

}
