.OtherContainer {
  width:300px;
  height:300px;
}

.Wind {
  text-align: center;
  font-size: 22px;
  padding-top: 65px;
  color:$reading-color1;
}

.WindGust, .Pressure, .Rain, .Visibility {
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
  color:$reading-color1;
}
